body { 
    /* background: url(Images/KCsunset.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    font-family: 'Be Vietnam', sans-serif;
    color: #333;
    height: 100vh;
}

.small-description {
    margin-left: 0;
    margin-right: 0;
    color: #888888;
    text-transform: uppercase;
    font-size: 1rem;
}

.heading {
    padding-top: 50px;
    margin: 0 auto;
}

.description {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 20px;
    color: #f0bf56;
    justify-content: left;
}

#sunTimes {
    padding-top: 20px;
}

#pageTitle {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -3px;
}

#hour-color {
    color: #f0bf56;
}

/* #pageTitle {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 3.5vw;
    margin-top: 10px;
    margin-left: 20px;
} */

li {
    display: inline;
    flex-direction: column;
    margin-right: 40px;
}

#sunPictures {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: flex-start; 

    margin: 40px 0px
}

.separator {
    color: #f0bf56;
    margin: 0 auto 20px;
    text-align: center;
    position: relative;
  }
  .separator:before, .separator:after {
    display: block;
    width: 40%;
    content: " ";
    margin-top: 10px;
    border: 1px solid #f0bf56;
  }
  .separator:before {
    float: left;
  }
  .separator:after {
    float: right;
  }


#input-field-container {
    margin-top: 40px;
}

#inputFields {
    margin: 0 auto;
}

.formText{
    font-family: 'Be Vietnam', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
}

.gh-standout {
    font-size: 25px;
    font-weight: bold;
}

.btn {
    height: 37px;
    margin-top: 33px;
    width: 100px;
    /* opacity: .4; */
    background-color: #f0bf56;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    border: 1px solid #d4a53e;
    background-color: #d4a53e;
    color: #fff;
}

.timeDisplay, 
.photoDisplay {
    text-align: center;
    margin-top: 170px;
    /* color: black; */
}

#sunrise, 
#sunset {
    background: -webkit-linear-gradient(left, #333, #f0bf56);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: .95rem;
}

input {
    display: block;
    outline: none;
    /* opacity: .4;
    background: rgba(0, 0, 0, 0.308);
    background-color: transparent; */
    width: 200px;
    height: 50px;
    top: 35px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    /* -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5); */
  }

  input:hover {
      outline: 0;
  }

.form-control {
    color: #333;
    border-color: #f0bf56;
}

.column {
    list-style-type: none;
}

img {
    text-decoration: none;
    width: 400px;
    padding: 10px;
}

  ::-webkit-input-placeholder { color: #666;} 
  :-moz-placeholder { color: #666; }
  ::-moz-placeholder { color: #666; }
  :-ms-input-placeholder { color: #666; }


  /* FOOTER */
  .wrapper {
      min-height: calc(100vh - 80px);
  }

  .footer {
    background-color: #bbbbbb;
    color: #fff;
    padding: 20px;
    font-size: 15px;
    bottom: 0;
    width: 100%;
}